# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/

# Virtual environments
.venv

# Testing
.coverage
.coverage.*
htmlcov/
.pytest_cache/
.mypy_cache/

# Environment
.env

# Local DynamoDB
.dynamodb/
data/
